<div class="container">
		<h1 class="text-center title">Available Movies</h1>

		<% @movies.each do |movie| %>
			<div class="col-md-4">
				<div class="movies">	
					<h2 class="movies-title"><%= movie.title %></h2>
					<%= link_to "Available Theaters", theater_path(movie), class: "btn-custom" %>
				</div>	
			</div>
		<% end %>

</div>	